<%- include('cabecalho'); -%>
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-6">
				<div class="newsletter">
					<p><strong>CADASTRO</strong></p>
					<form action="/cadastrar" method="post" enctype="multipart/form-data">
						<input class="form-control" name="nome" type="text" placeholder="Digite seu nome"><br><br>
                        <input class="form-control" name="email" type="email" placeholder="Digite seu email"><br><br>
                        <input class="form-control" name="senha" type="password" placeholder="Digite sua senha"><br><br>
                        <input class="form-control" name="endereco" type="text" placeholder="Digite seu endereço"><br><br>
                        <input class="form-control" name="cpf" type="text" placeholder="Digite seu cpf"><br><br>
                        <input class="form-control" name="foto" type="file"><br><br>
						<button type="submit" class="btn primary-btn"><i class="fa fa-star"></i> Cadastrar</button><br>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
            <div class="col-md-6">
				<div class="newsletter">
					<p><strong>LOGIN</strong></p>
					<form>
						<input class="form-control" type="email" placeholder="Digite seu email"><br><br>
                        <input class="form-control" type="password" placeholder="Digite sua senha"><br><br>
						<button type="submit" class="btn primary-btn"><i class="fa fa-envelope"></i> Entrar</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->
<%- include('rodape'); -%>